#
# Industrial I/O subsystem
#

menuconfig IIO
	tristate "Industrial I/O support"
	depends on GENERIC_HARDIRQS
	help
	  The Industrial input / output subsystem provides a unified
	  framework for many different types of embedded sensor.

if IIO

config IIO_HWMON
       tristate "Hwmon driver that uses channels specified via iio maps"
       depends on HWMON
       help
	  This is a platform driver that in combination with a suitable
	  map allows IIO devices to provide  basic hwmon functionality
	  for those channels specified in the map.

source "drivers/iio/adc/Kconfig"
source "drivers/iio/imu/Kconfig"
source "drivers/iio/light/Kconfig"

endif # IIO
